@page
@model MELISSA.Pages.PromoModel
@{
     ViewData["Title"] = "Promo";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Specials</title>
</head>
<body>
    <p>⚠this page is under maintenance...</p>
</body>
</html>